<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/HomePage.css' />

</head>
<body class="bodyStyle">


<div class="Header">
    <p id="subHeader">Let us take you to an amazing tour!</p>
    <div id="menu">
        <ul>
            <li><a href="Home.ejs">Home</a></li>
            <li><a href="subpage.ejs">Countries</a></li>
            <li><a href="subpage.ejs">Cities</a></li>
            <li><a href="subpage.ejs">Museums</a></li>
            <li><a href="subpage.ejs">Buildings</a></li>
            <li><a href="/views/SignUp.ejs" class="current" class="lastmenu">Sign up</a></li>
        </ul>

    </div>


    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>