<!DOCTYPE html>
<html>
<head>
  <title>Panorama view-visit places</title>
  <link rel='stylesheet' href='/stylesheets/HomePage.css' />

</head>
<body class="bodyStyle">
<!--<img id="imglogo" src="http://localhost:3000/images/logo.png">-->


<div class="Header">
  <p id="subHeader">Virtual Tours</p>
  <div id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <div class="dropdown">
      <ul>
        <li href="subpage.ejs">Countries</li>
        <a id="myDropdown" class="dropdown-content">Egypt</a>
      </ul>

      <ul>
        <li href="subpage.ejs">Cities</li>
        <a id="myDropdown" class="dropdown-content">Cairo</a>
      </ul>


      <ul>
        <li href="subpage.ejs">Museums</li>
        <a id="myDropdown" class="dropdown-content">Cairo Museum</a>
      </ul>

      <ul>
        <li href="subpage.ejs">Buildings</li>
        <a id="myDropdown" class="dropdown-content">Cairo Tower</a>
      </ul>
        </div>
      <li><a href="/SignUp" class="current" class="lastmenu">Sign up</a></li>
    </ul>

  </div>
  <img id="imgCover" src="http://localhost:3000/images/cover.jpg">

  <div id="content">

    <!-- left column -->
    <div id="leftcolumn">
      <div class="login_form">
        <h1 id="LoginFormStyle">Login</h1>

        <form class="formStyle" method="get" action="#">
          <div ><label id="textColor">Email </label><input id="inputStyle" name="email_address" type="email" class="inputfield" id="email_addremss" maxlength="60"/>
          </div>
          <br>
          <div><label id="textColor">Password </label><input id="inputStyle" name="password" type="password" class="inputfield" id="password" maxlength="60"/>
          </div>
          <br>
          <input id="buttonLogin" type="submit" name="Submit" value="Login" />
        </form>
      </div>

    </div>
    <h1 id="Description">Description</h1>
    <p id="textDescription">Virtual Tours is a web application for
      different types of users,you can visit  </p>
      <p id="textDescription">places, countries,etc. and interact
      with the place through and get information  </p>
      <p id="textDescription">about specific places.</p>
    <br><br>
    <div class="circle" >

    </div>
    <div class="circle" >

    </div>
    <div class="circle" >

    </div>
    <div class="circle" >

    </div>
    <div class="circle" >

    </div>
    <div id="MembersName">
    <h3>Team Leader</h3>
    <h4>Mostafa Abdallaah</h4>
    <h2>Team Member</h2>
    <h3>Shaimaa Farouk</h3>
    <h2>Team Member</h2>
    <h3>Sara Mokhtar</h3>
    <h2>Team Member</h2>
    <h3>Suhila Ahmed</h3>
    <h2>Team Member</h2>
    <h3>Heba Moustafa</h3>
      </div>
  </div>

  <div class="footer">
    <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
    Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

  </div>


</div>

</body>
</html>