<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/Header_Footer.css' />

</head>
<body class="bodyStyle">


<div class="Header">

    <div id="menu">
        <ul>
            <li><a href="index.html"  >Home</a></li>
            <li><a href="subpage.html">Countries</a></li>
            <li><a href="subpage.html">Cities</a></li>
            <li><a href="subpage.html">Museums</a></li>
            <li><a href="subpage.html">Buildings</a></li>
            <li><a href="index2.html" class="current" class="lastmenu">Sign up</a></li>
        </ul>

    </div>
    <header>
        <p id="headerStyle"> Sign up </p>
        <p id="subHeader">Let us take you to an amazing tour!</p>

    </header>
    <header id="imgLogo"> <img src="/images/Pyramids.png"> </header>

    <form class="formStyle">

        <p><label id="paragraph" for="name">Username</label></p>
        <input id="inputStyle" name="name" placeholder=" First and last name" required="" tabindex="1" type="text">

        <p ><label id="paragraph" for="email">Email</label></p>
        <input id="inputStyle" name="email" placeholder=" example@domain.com" required="" type="email">


        <p ><label id="paragraph" for="password">Password</label></p>
        <input id="inputStyle" type="password" id="password" name="password" required="">
        <p ><label id="paragraph" for="repassword">Confirm password</label></p>
        <input id="inputStyle" type="password" id="repassword" name="repassword" required="">
        <p ><label id="paragraph" for="phone">Mobile phone</label></p>
        <input id="inputStyle" name="phone" placeholder=" phone number" required="" type="text"> </br></br>



        <br>

        <input id="inputStyle"  name="submit" value="SIGN UP" type="submit">
    </form>


    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>