<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/viewPanorama.css' />

</head>
<body class="bodyStyle">


<div class="Header">
    <img id="subHeader" src="http://localhost:3000/images/logoUpdated.png">
    <div id="subHeader2">
        <p>Let us take you to an amazing tour</p>
        <form action="/SignUp">
            <input id="SignButton" type="submit" name="Signup" value="SIGN UP">
        </form></div>
    <div id="menu">
        <ul>
            <li><a href="/"  >Home</a></li>
            <div class="dropdown">
                <li><a>Countries</a>
                    <ul id="overFlow">
                        <li><a href="#">Egypt</a></li>
                        <li><a href="#">India</a></li>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Cities</a>
                    <ul id="overFlow">
                        <li><a href="#">Cairo</a></li>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a>Museums</a>
                    <!-- <ul>
                       <li><a href="#">Egyptian Museum</a></li>
                     </ul>-->
                </li>
            </div>
            <div class="dropdown">
                <li><a>Buildings</a>
                    <ul id="overFlow">
                        <li><a href="#">Cairo Tower</a></li>
                    </ul>
                </li>
            </div>
            <div class="dropdown">
                <li><a href="/SignUp" class="current" class="lastmenu">Others</a></li>
            </div>
        </ul>

        <img src="http://localhost:3000/images/black.png">
    </div>

    <div class="footer">
        <a href="#">Home</a> | <a href="#">Services</a> | <a href="#">Solutions</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>GP Team</strong></a>

    </div>


</div>

</body>
</html>